.discovery {
    z-index: 9999999;
}

.discovery-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/discovery.png');
    background-position: center;
    background-size: cover;
}

.discovery-background:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, black, transparent);
}

.discovery-background:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 52%;
    top: calc(50% - 1px);
    background: #000;
}

.discovery-body {
    z-index: 9999;
    position: absolute;
    width: 100%;
}

.search-for-main {
    margin-top: 15px;
}

.search-types {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.search-types section {
    height: 35px;
    background: hsl(0deg 0% 100% / 10%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
}

.menu-top-discovery {
    height: 50px;
    margin-top: 70px;
}

.search-types section.selected {
    background: #fff;
    color: #000;
}

.search-types section:first-child {
    margin-left: 6%;
}

.top-search-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    margin-left: 50px;
    margin-top: -8px;
}

.input-search {
    height: 50px;
    display: flex;
    align-items: center;
}

.input-search input {
    width: 100%;
    background: transparent;
    color: #fff;
    height: 50px;
    font-size: 14px;
    margin-left: 50px;
}

.input-search input::placeholder {
    color: hsl(0deg 0% 100% / 25%);
}

.discovery-background span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: hsl(0deg 0% 0% / 25%);
}

.input-search section {
    width: 100%;
    border-radius: 50px;
    background: #000;
    display: flex;
}

.filter {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right: 0;
}

.input-search section:before {
    content: '';
    width: 30px;
    height: 50px;
    background: rgb(255 255 255 / 35%);
    -webkit-mask-image: url(/assets/png-icons/search-123-1658435124.png);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 22px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    margin-left: 15px;
    margin-top: 0;
}

.filter:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-size: 20px;
    background: #fff;
    -webkit-mask-image: url(/assets/png-icons/filter-24-1662364403.png);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    opacity: 0.5;
}

.exit-discovery {
    -webkit-mask-image: url(/assets/png-icons/close%20remove-8-1662452248.png);
    -webkit-mask-size: 30px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    right: 0;
    margin-top: -8px;
}

.menu-bottom {
    border-radius: 0;
    border-top: 0;
    height: 90px;
    background: #161616d1;
    border-top: 1px solid rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.menu-bottom:before {
    display: none;
    background: linear-gradient(to top, black, transparent);
}

.button-page.home-flex span:before {
    content: 'Home';
}

.button-page {
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
}

.button-page.search-flex span:before {
    content: 'Search';
}

.button-page:before,
.button-page:after {
    position: absolute;
    width: 100%;
}

.inset-menu-bottom {
    width: 88%;
    margin-top: -18px;
}

.button-page.selected {
    width: 40px;
    background: transparent;
    padding: 0;
}

.button-page span {
    margin-top: 36px;
    opacity: 0.5;
    font-weight: 300;
    font-size: 10px;
}

.button-page.search-flex:before {
    -webkit-mask-image: url(/assets/png-icons/search-123-1658435124.png);
    opacity: 0.5;
}

.button-page.library-flex span:before {
    content: 'Library';
}

.button-page.profile-flex span:before {
    content: 'Profile';
}

.button-page.home-flex:before {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/home-83-1658433576.png);
    opacity: 0.5;
}

.button-page.library-flex:before {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/docs-45-1662364367.png);
    opacity: 0.5;
}

.button-page.live-flex span:before {
    content: 'Live';
}

.button-page.profile-flex:before {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/user-350-1658436041.png);
    opacity: 0.5;
}

.button-page.live-flex:before {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/hotspot-71-1658436340.png);
    opacity: 0.5;
}

.button-page.selected span {
    opacity: 1;
}

.button-page.search-flex:after {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/search-1-49-1666688362.png);
}

.button-page.library-flex:after {
    -webkit-mask-image: url(https://s3-iconly.sfo3.digitaloceanspaces.com/png-icons/docs-45-1660809654.png);
}

.library-body {
    background: #000000;
}

/* 
.body-back:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(0deg 0% 13% / 50%);
} */

.search-types section:last-child {
    margin-right: 6%;
}

.search-result {
    width: 88%;
    right: 0;
    left: 0;
    margin: auto;
    position: relative;
}

.discovery-body.searching .discover-categories {
    display: none;
}

.discovery-body.searching .search-result {
    display: block;
}

.search-result {
    padding-top: 15px;
    display: none;
}

.body * {
    transition: none;
}

/* 
.android .player .background-wave:before, .android .player .background-wave span {
    display: none!important;
} */
/* aloooooooooooo */
.body.minimized {
    border-radius: 0;
    width: 100%;
    transform: translateY(-89px);
}

.body.player.minimized {
    background: #000 !important;
}

.home-section.cards-home {
    margin-top: 25px;
}

.discovery-body .home-section.mini-songs-new {
    margin-bottom: 30px;
}

.artists-search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artists-search-container .artist-element a {
    text-align: center;
}

.artist-element p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
    margin-top: 5px;
}

.artist-element {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.artist-element span {
    background-color: hsl(0deg 0% 100% / 10%);
}




/** artist **/

.artist-infos section {
    margin-left: 0;
}

.body.minimized.player .copyrigth-padge,
.body.minimized.player .hidden-detailed-player {
    display: none;
}

.artist-back:after {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: none;
}

.player.body.no-transition {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.player.body.minimized {
    border-radius: 0 !important;
}

.artist-back {
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent);
}

.artist-back:before {
    display: none;
}

.artist-avatar {
    display: none;
}

.bio-artist {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.bio-artist p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more-artist {
    margin-left: 0;
}

.artist-follow {
    margin-right: 15px;
    display: flex;
}

.btns-artist .run-playlist {
    margin-top: 0;
}

.bio-artist a {
    opacity: 0.5;
    margin-top: 10px;
    display: flex;
}

.artist-follow a {
    opacity: 0.5;
    margin-left: 5px;
    font-size: 12px;
}

.btns-artist {
    margin-top: 25px;
}

.features-artists .artist-element {
    margin-right: 15px;
}

/*
 .body-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
 } 
 
.trendings-inset-hits .song-complay {
    border: none;
    transform: rotate(90deg);
}

.most-terinding-hits.home-section {
    display: flex;
}

.cart-home-slider {
    width: 80vw;
    max-width: 350px;
    margin-right: 15px;
    border-radius: 20px;
    background-color: #444;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.container-seeker-lists {
    display: flex;
    width: fit-content;
    margin-left: 6%;
}

.outset-container-seeker {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.header-list-main {
    width: 88%;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    margin-top: 25px;
    display: flex;
    position: relative;
}

.header-list-main span {
    font-size: 22px;
}

.header-list-main p {
    font-size: 14px;
    margin-top: 8px;
    opacity: 0.5;
}

.header-list-main section {
    margin-right: 80px;
}

.play-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    background: #fff;
    border-radius: 50%;
}

.cart-home-slider:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000c9;
}

.switcher-tap {
    border: none;
    background: hsl(0deg 0% 100% / 10%);
} 
*/

.background-wave span {
    position: absolute;
    width: 100%;
}

.background-wave {
    background: #121416;
}

.player .background-wave span {
    width: 100%;
    position: absolute;
    height: 75vh;
    background-size: cover;
    display: none;
}

.player .background-wave::before {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: linear-gradient(to bottom, #7f7e79 25%, #121416 50%);
    height: 100vh;
}

.blured.player .background-wave:before {
    background: linear-gradient(to bottom, #12141691, #121416);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.blured.player .background-wave span {
    display: block;
}

.player .background-wave {
    display: block !important;
}

.minimized.player .background-wave {
    display: none !important;
}

.body .minimize-live {
    left: 0;
    margin-left: 6%;
    margin-top: 77px;
}

.player .minimize-live:before {
    -webkit-mask-position: left center;
}

.player .top-header-wave {
    display: none;
}

.body.minimized:before {
    display: none !important;
}

.body.player:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background: #fff;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 55px;
    opacity: 0.25;
}

.close-player {
    -webkit-mask-image: url(/assets/png-icons/minus%202-8-1658433844.png);
    -webkit-mask-size: 25px;
    -webkit-mask-position: center right;
    -webkit-mask-repeat: no-repeat;
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    z-index: 99;
    display: none;
}

.minimized .close-player {
    display: flex
}

.user-search:first-child {
    margin-top: 0;
}

.podcasts-search-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 15px);
    justify-content: center;
}

.podcasts-search-container .song-recent {
    width: 100px;
    margin-bottom: 25px;
}

.podcasts-search-container .song-recent .song-poster {
    height: 100px;
}

.related-queue {
    position: fixed;
    width: 100%;
    height: 80vh;
    bottom: 0;
    z-index: 99999999;
    background: #121416;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.3s;
    transform: translateY(100%);
}

.related-container .loader-music:first-child {
    margin-top: 20px;
}

.related-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: hsl(0deg 0% 33% / 50%);
    z-index: 99999999;
}

.related-queue:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background: #ffffff26;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
}

.related-menu {
    display: flex;
    margin-top: 45px;
    height: 40px;
    background: rgb(255 255 255 / 5%);
    border-radius: 15px;
    align-items: center;
}

.related-menu section,
.related-menu:before {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
    height: 70%;
    border-radius: 10px;
}

.related-menu section:first-child {
    margin-left: 10px;
}

.related-menu section span {
    line-height: 20px;
}

.related-menu:before {
    content: '';
    position: absolute;
    width: calc(100% / 3 - 15px);
    margin-left: 10px;
    background: rgb(255 255 255 / 10%);
    transition: 0.2s;
}

.related-container {
    height: calc(100% - 85px);
}

.related-container {
    overflow-x: hidden;
    overflow-y: scroll;
}

.related-outset-container {
    margin-top: 15px;
    margin-bottom: 50px;
}

.related-container .music-component {
    background: #121416;
}

.related-menu[dir="1"]:before {
    transform: translateX(calc(100% + 12px));
}

.related-menu[dir="2"]:before {
    transform: translateX(calc(200% + 25px));
}

.container-adding-queue {
    display: flex;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid hsl(0deg 0% 100% / 10%);
    padding-bottom: 10px;
}

.clear-queue {
    right: 0;
    position: absolute;
    opacity: 0.25;
    display: flex;
}

.add-to-queue {
    /* background: #fff; */
    /* color: #000; */
    border-radius: 20px;
    /* padding: 0 14px; */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-queue:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    margin-right: 5px;
    -webkit-mask-image: url('/assets/png-icons/plus%204-12-1662493809.png');
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center left;
}

.clear-queue:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    display: flex;
    margin-left: 5px;
    -webkit-mask-image: url(/assets/png-icons/minus%204-9-1662822465.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.player .bottom-chat {
    display: none;
}

.player .bottom-live-control {
    display: grid;
}

.player .bottom-chat {
    display: none;
}

.lyrics-wrapper {
    position: relative;
    width: 88%;
    right: 0;
    left: 0;
    margin: auto;
    height: 300px;
    border-radius: 20px;
    background: #ffffff14;
    margin-top: 50px;
    display: grid;
}

.inner-lyrics-wrapper {
    width: calc(100% - 40px);
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
}

.body {
    background: #121416;
    border-radius: 0 !important;
}

.lyrics-wrapper-main section {
    display: grid;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.lyrics-wrapper-main section text {
    margin-bottom: 10px;
    font-family: 'Gellix', 'Rubik';

}

.lyrics-wrapper {
    overflow: hidden;
    margin-bottom: 20px;
}

.lyrics-wrapper-main {
    height: 260px;
    overflow: hidden;
}

.make-it-bigger {
    display: flex;
    background: #fff;
    content: '';
    width: 35px;
    height: 35px;
    -webkit-mask-image: url(/assets/png-icons/expand%20resize-131-1696832127.png);
    -webkit-mask-position: center right;
    -webkit-mask-size: 24px;
    -webkit-mask-repeat: no-repeat;
    right: 0;
    position: absolute;
    top: 0;
    margin-right: 20px;
    margin-top: 8px;
}

.show-lyrics-section {
    position: absolute;
    width: 100%;
    height: 125px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #121416 50%, transparent);
    z-index: 999;
    display: flex;
}

.show-lyrics-section section {
    margin-left: 20px;
    background: #fff;
    height: 40px;
    border-radius: 50px;
    color: #000;
    padding: 0 20px;
    font-weight: 500;
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
}

.show-lyrics-section section span {
    margin-top: -5px;
}

text.swiper-slide.ar {
    text-align: right;
    direction: rtl;
}

.lyrics-wrapper-main section text.synced {
    color: hsl(0deg 0% 0% / 70%);
}

.lyrics-wrapper-main section text.synced.selected {
    color: #fff;
}

.lyrics-wrapper-main .no-lyrics-banner {
    width: 300px;
    min-width: unset;
    background: transparent;
    height: fit-content;
    position: relative;
    margin-top: 0 !important;
}

.lyrics-wrapper-main .no-lyrics-banner h3 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 80px;
}

.lyrics-wrapper-main .no-lyrics-banner span {
    margin: auto;
    right: 0;
    left: 0;
    width: 65px;
    height: 65px;
    /* margin-left: 0; */
}

.lyrics-wrapper-main .request-lyrics {
    display: none;
}

.no-lyrics .lyrics-wrapper-main {
    height: fit-content;
    margin-top: 19px;
}

.lyrics-wrapper.no-lyrics {
    height: fit-content;
    padding-bottom: 80px;
}

.lyrics-wrapper-main .loading-lyrics-slider {
    margin-bottom: 18px;
    height: 18px !important
}

.lyrics-wrapper-top {
    font-weight: 600;
}


.lyrics-wrapper-top {
    font-weight: 600;
}

.body.resizing .artist-inner-song img {
    transition: 0.2s;
}

.body.fullscreen .artist-inner-song img {
    width: 50px;
    border-radius: 5px !important;
    transform: translateY(-75px);
}

.body.resizing .download-player,
.body.resizing .shuffle-player,
.body.resizing .queue-player {
    display: none;
}

.body.fullscreen .artist-inner-song section {
    position: absolute;
    top: 0;
    height: 42px;
    font-size: 14px;
    text-align: left;
    display: grid;
    margin-top: 0;
    transform: translateY(-72px);
    margin-left: 65px;
    width: 70%;
}

.body.fullscreen .artist-inner-song section p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.body.fullscreen .minimize-live {
    display: none;
}


.resizing.player .right-buttons-forward {
    transition: 0.2s;
}

.fullscreen.player .right-buttons-forward {
    transform: translateY(36vh);
}

.fullscreen .lyrics-wrapper {
    background: transparent !important;
    position: fixed;
    top: 0;
    z-index: 9999;
    margin-top: 150px;
    height: 55vh;
    border-radius: 0;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.player.resizing .media-playback-live {
    transition: 0.2s;
}

.player.fullscreen .media-playback-live {
    transform: translateY(38vh);
}

.fullscreen .show-lyrics-section {
    background: transparent !important;
}

.fullscreen .inner-lyrics-wrapper {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    height: 100%;
}

.fullscreen .lyrics-wrapper-main section text {
    color: hsl(0deg 0% 100% / 25%);
}

.fullscreen .lyrics-wrapper-main section text {
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 12px;
}

.fullscreen .lyrics-wrapper-main section text.synced.selected {
    color: #fff;
}

.fullscreen .lyrics-wrapper-main {
    height: fit-content;
}

.fullscreen .show-lyrics-section section {
    display: none;
}

.fullscreen .lyrics-wrapper-top {
    display: none;
}

.fullscreen .lyrics-wrapper-main section {
    margin-top: 5px;
}

.lyrics-close {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 70px;
    color: #fff;
    align-items: center;
    display: none;
}

.fullscreen .lyrics-close {
    display: flex;
}

.lyrics-close:after {
    content: '';
    width: 30px;
    height: 30px;
    background: #fff;
    -webkit-mask-image: url(/assets/png-icons/expand%20down%20stop-127-1696832127.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    margin-top: -30px;
}

.album-body {
    margin-top: 100px;
}

.album-poster {
    width: 200px;
    height: 200px;
    background: rgb(255 255 255 / 10%);
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.album-info {
    color: #fff;
    text-align: center;
    margin-top: 14px;
    display: grid;
}

.album-info span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.album-info section a {
    display: flex;
    font-size: 14px;
    color: hsl(0deg 0% 100% / 75%);
    margin-right: 8px;
    align-items: center;
}

.album-info section {
    display: flex;
    justify-content: center;
    line-height: 20px;
}

.album-info section a:after {
    content: '';
    display: flex;
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background: #fff;
    margin-left: 8px;
    margin-top: 5px;
    opacity: 0.5;
}

.album-info section a:last-child:after {
    display: none;
}

.album-controlers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.run-album {
    width: 55px;
    height: 55px;
    background: #fff;
    border-radius: 50%;
    background: hsl(0deg 0% 100% / 15%);
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
}

.run-album:before,.run-album:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    -webkit-mask-image: url(/assets/png-icons/play-52-1663075945.png);
    -webkit-mask-size: 28px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.btns-album {
    display: flex;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 10px;
}

.btns-album:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url();
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 24px;
    background: #fff;
    opacity: 0.5;
}

.btns-album.save-album:before {
    -webkit-mask-image: url(/assets/png-icons/bookmark-83-1658235288.png);
}

.btns-album.download-album:before {
    -webkit-mask-image: url(/assets/png-icons/arrow%20circle%20broken%20down-6-1696832363.png);
}

.btns-album.shuffle-album:before {
    -webkit-mask-image: url(/assets/png-icons/shuffle%20horizontal-130-1696832523.png);
}

.btns-album.more-album:before {
    -webkit-mask-image: url(/assets/png-icons/more_dots.svg);
}

.btns-album:last-child {
    margin-right: 0;
}

.album-song-title {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
}

.album-song {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
}

.album-song-title span {
    font-weight: 500;
}

.album-song-title a {
    opacity: 0.75;
    margin-right: 5px;
}

.album-song-title section {
    display: flex;
    margin-top: 4px;
}

.album-wrapper {
    margin-top: 40px;
    counter-reset: item;
}

.album-song:before {
    content: counter(item);
    color: #fff;
    counter-increment: item;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.75;
    font-size: 14px;
    margin-left: 5px;
}

.album-song-more:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    right: 0;
    -webkit-mask-image: url(/assets/png-icons/more_dots.svg);
    -webkit-mask-position: center top;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 24px;
    transform: rotate(90deg);
    content: '';
}

.album-song-more {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
}

.album-info p {
    opacity: 0.75;
    font-size: 14px;
    line-height: 20px;
}

.album-page {}

.album-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #945b5c, transparent);
    z-index: -1;
}

.album-back:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, hsl(0deg 0% 0% / 90%), #0000006b, #000);
}

.album-back:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    border-radius: 35px;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.album-song-title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-song-title {
    display: grid;
    margin-right: 60px;
}

.album-song-title section a:first-child {
    display: flex;
    margin-right: 6px;
    align-items: center;
}

.album-song-title section a:first-child:after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 8px;
    background: #fff;
    margin-left: 6px;
    margin-top: 4px;
    opacity: 0.75;
}

.switch-component.saving-ssc span {
    -webkit-mask-image: url(/assets/png-icons/bookmark-44-1658235288.png);
}

.switch-component.adding-list-ssc span {
    -webkit-mask-image: url(/assets/png-icons/plus%202-47-1658433844.png);
}

.switch-component.lyrics-share span {
    -webkit-mask-image: url(/assets/png-icons/lyrics-263-1658234823.png);
}

.switch-component.sending-to-friend span {
    -webkit-mask-image: url(/assets/png-icons/send%20message-184-1658433902.png);
}

.switch-component.live-ssc span {
    -webkit-mask-image: url(/assets/png-icons/hotspot-37-1658436340.png);
}

.switch-component.play-more-related span {
    -webkit-mask-image: url(/assets/png-icons/magic-47-1687505464.png);
}

.switch-component.share-ssc span {
    -webkit-mask-image: url(/assets/png-icons/upload-206-1663754948.png);
}

.switch-component.artist-profile-view span {
    -webkit-mask-image: url(/assets/png-icons/user%20music-203-1658436042.png);
}
.switch-component.view-album-ssc span {
    -webkit-mask-image: url(/assets/png-icons/record%20circle-302-1658234823.png);
}
.album-wrapper {
    margin-bottom: 180px;
}
.album-header {
    position: absolute;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.podcast .album-info p img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.podcast .album-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.resizing .visualisation {
    display: none;
}
.resizing .copyrigth-padge {
    display: none!important;
}
.queue .flex-search-platforms {
    display: none;
}
.queue .search-container-songs {
    height: calc(100% - 170px);
}
.video-frame {
    background-color: hsl(0deg 0% 100% / 10%);
}
.run-album:after {
    -webkit-mask-image: url(/assets/png-icons/pause-44-1663075945.png);
    visibility: hidden;
}

.run-album.played:after {
    visibility: visible;
}

.run-album.played:before {
    visibility: hidden;
}


.minimize-live.share-album:before {
    -webkit-mask-image: url(/assets/png-icons/Share_uW5tAxkk9km3moG6kJ9dM875oyD8p7Of2RF8.png);
    -webkit-mask-position: center right;
}

.minimize-live.close-album {
    left: 0;
}

.minimize-live.close-album:before {
    -webkit-mask-position: center left;
}
.btns-album.shuffle-album.shuffled:before {
    opacity: 1;
}
.btns-album.shuffle-album.shuffled:before {
    opacity: 1;
}

.minimize-live.close-album {
    display: flex;
    align-items: center;
}

.minimize-live.close-album:before {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}
.switch-component.queue-add-ssc span {
    -webkit-mask-image: url(/assets/png-icons/add%20documents-0-1662364367.png);
}
.imgs-colls-bv.list-perview {
    margin-left: 24px;
}

.playlists-page .text-live-wave {
    margin-left: 75px;
    margin-right: 50px;
}

.blured-backdrop-list:before {
    display: none;
}
.card section span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
a.hide-keyds {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    margin-right: 12px;
    background: #fff;
    -webkit-mask-image: url(/assets/png-icons/keyboard%20close%20down-13-1661161825.png);
    -webkit-mask-size: 24px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    visibility: hidden;
}

.input-search section.focused .hide-keyds {
    visibility: visible;
    margin-top: 7px;
    margin-right: 38px;
}