<!-- <div class="most-terinding-hits home-section">
        <div class="outset-container-seeker">
            <div class="container-seeker-lists">
                <div class="cart-home-slider">
                    <div class="header-list-main">
                        <section><span>Trending right now</span>
                            <p>Most played songs ON apple music for today</p>
                        </section>
                        <div class="play-icon"></div>
                    </div>
                    <div class="trendings-inset-hits main-inset-hits">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- <div class="most-terinding-hits home-section">
        <div class="head-tag container"><span>Explore by genre</span><a onclick="showDiscovery()"></a></div>
        <div class="generes-by-generes">
            <div class="inset-generes-search home-main-genres">
                <div class="generes-section switcher-tap bgwf-effect selected trending" dataid="37i9dQZF1DXcBWIGoYBM5M">
                    <span>Trending</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWVuV87wUBNwc">
                    <span>Pop</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX1X23oiQRTB5">
                    <span>Hip Hop</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWWSuZL7uNdVA">
                    <span>Rock</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX1S1NduGwpsa">
                    <span>Jazz</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWWEJlAGA9gs0">
                    <span>Classical</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX10zKzsJ2jva">
                    <span>Latin</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX1lVhptIYRda">
                    <span>Country</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DXd9rSDyQguIk">
                    <span>Blues</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX2LoIIQLAhdb">
                    <span>RNB</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX4iPyiZG8RHQ">
                    <span>Reggae</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX06ea0x0qwKU">
                    <span>Metal</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DXdOAw8BT7AHt">
                    <span>Punk</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWXncK9DGeLh7">
                    <span>Soul</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWSrj7tqQ9IOu">
                    <span>Indie</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DX9tPFwDMOaN1">
                    <span>Kpop</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWXncK9DGeLh7">
                    <span>Funk</span>
                </div>
                <div class="generes-section switcher-tap bgwf-effect" dataid="37i9dQZF1DWZSdcRHMl2tT">
                    <span>House</span>
                </div>
            </div>
        </div>
        <div class="trendings-inset-hits main-inset-hits"></div>
    </div>
    <div class="recently-played outset-recently-played home-section">
    </div> -->
    <!-- <div class="search-index-core">
    <div class="search-home">
        <input type="text" class="search-input" onfocus="showBrowse(this)" oninput="searchInput(this,event)"
            placeholder="Search for track or artist or user">
    </div>
    <div class="search-generes">
        <div class="grid-inset-lists">
        </div>
    </div>
</div> -->
<!-- <div class="host-image"></div> -->
<!-- <div class="playing-music">
    <div class="background-playing-music"><span></span></div>
    <div class="left-playing-music">
        <div class="song-poster-playing"></div>
        <section>
            <span>So far away</span>
            <a>Martin grix</a>
        </section>
    </div>
    <div class="pottom-width-slider"><span></span></div>
    <div class="right-playing-music">
        <div class="play-pause-playing"></div>
    </div>
</div> -->
    <!-- <div class="scroller-container">
        <div class="inset-scroller-container">
            <div class="queue-container lyrics-container">
                <div class="lyrics-handler"></div>
                <div class="outset-lyrics-container">
                    <div class="inset-lyrics-container swiper">
                        <section class="swiper-wrapper"></section>
                    </div>
                </div>
            </div>
            <div class="queue-container queue-handler">
                <div class="top-queue-container">
                    <div class="back-queue-player minimize-live sw-effect"
                        onclick="closeQueue()"></div>
                </div>
                <div class="search-edit-list">
                    <section>
                        <div class="platform-icon spotify"></div>
                        <div class="platform-icon soundcloud"></div>
                        <div class="platform-icon deezer"></div>
                    </section>

                    <span>Edit or add tracks</span>
                </div>
                <div class="playlist-compine">
                    <div class="inset-playlist-compine">

                    </div>
                </div>
            </div>
            <div class="chat-container">
                <div class="fixed-user-wave">
                    <div class="inset-vertical">
                    </div>
                    <div class="user-wave users"><a></a></div>
                </div>
                <div class="outset-chat-container">
                    <div class="inset-chat-container"></div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- 
    <div class="kosom-eld7k">
        <div class="msg " dataid="1">
            <div class="msg-img">
            </div>
            <a class="nmvo">ONVO</a>
            <section>
                <div class="msg-core" dataid="655974897511">
                    <p>الووو</p>
                    <span>34:16</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
                <div class="msg-core" dataid="656985409203">
                    <p>قووول الحفلة</p>
                    <span>34:17</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
                <div class="msg-core" dataid="657600977669">
                    <p>كسمك يا امام يازامي</p>
                    <span>34:17</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
            </section>
        </div>
    </div>
    <div class="mini-body">
        <div class="sharing-lyrics-body">
            <div class="no-lyrics-banner">
                <span></span>
                <h3>We couldn’t find lyrics for this one, but you can request them to make it available for you.</h3>
                <div class="request-lyrics" onclick="requestLyrics()"><a>Request</a></div>
            </div>
            <div class="btns-lyrics"></div>
            <div class="btns-lyrics send-song-lyrics" onclick="lastSelected = currentSong; sendMusicToFriend()"></div>
            <div class="screenshot-btn" onclick="openLyrics(currentSong)">
                <span>Share lyrics</span>
            </div>
        </div>

        <div class="recently-played home-section lyrics-bottom-related">
            
        </div>
        <div class="home-section track-info-bottom artist-section">
            <div class="head-tag container"><span>About atist</span>
                <a></a>
            </div>
            <div class="track-info-container container">
                <div class="artist-info-player">
                    <div class="artist-info-poster"></div>
                    <section class="verified"><span>Artist</span><a>1.2K followers</a></section>
                    <div class="viwe-album-tap"><span>View album</span></div>
                </div>
            </div>
        </div>
        <div class="home-section track-info-bottom copyright-section">
            <div class="head-tag container"><span>Track copyright</span>
            </div>
            <div class="track-copyright-container container">
                <a>℗ 2021 RichMusic Inc</a>
                <p>This track is hosted from soundcloud Inc using authorized api, to view it on soundcloud <text>Tap
                        here</text></p>
            </div>
        </div>
        
    </div> -->