<div class="dialog-container hidden">
    <div class="dialog-back" onclick="closeError()"></div>
    <div class="dialog-body container">
        <div class="inset-dialog">
            <div class="dialog-header"><span>Error here</span>
                <p>Descripe error hereDescripe error hereDescripe error hereDescripe error here</p>
            </div>
            <div class="dialog-buttons">
                <button class="main" type="button"><span>Got it</span></button>
                <button type="button"><span>Cancel</span></button>
            </div>
        </div>
    </div>
</div>