<div class="home-header">
    <div class="logo-home"></div>
    <div class="morning-home">
        <span>Good morning</span>
        <a>Hydra de lerne</a>
    </div>
    <div class="nssf-icon notifications-icon" onclick="showMainMenu()">
        <span></span>
    </div>
    <div class="nssf-icon back-home-icon" onclick="document.body.classList.remove('searching')">
        <span></span>
    </div>
</div>
<div class="page profile">
    <%- include('../ejs/profileCore') %>
</div>
<div class="album-page page hidden">
    <div class="album-header container">
        <div onclick="closeAlbum()" class="minimize-live close-album"></div>
        <div onclick="shareAlbum()" class="minimize-live share-album"></div>
    </div>
    <div class="album-back"></div>
    <div class="album-body">
        <div class="album-poster">
        </div>
        <div class="album-info container">
        </div>
        <div class="album-controlers container">
            <div class="btns-album more-album"></div>
            <div class="btns-album download-album"></div>
            <div class="run-album"></div>
            <div class="btns-album shuffle-album"></div>
            <div class="btns-album save-album"></div>
        </div>
        <div class="album-wrapper container">
        </div>
    </div>
</div>
<div class="timeline">
    <div class="going-live">
        <div class="inset-going-live"></div>
    </div>
    <div class="home-trend">
    </div>
</div>
<div class="music-stream-search hidden">
    <div class="back-music-search"></div>
    <div class="music-search-main" dataid="spotify">
        <div class="search-title"><span>Search for music</span>
            <p>Chose platform you want search in, or insert playlist from anywhere</p>
        </div>
        <div class="flex-search-platforms">
            <div class="inset-search-shit">
                <div class="platform ytmusic selected" dataid="ytmusic">
                    <div class="platform-icon ytmusic"></div><span>YT Music</span>
                </div>
                <div class="platform apple" dataid="apple">
                    <div class="platform-icon apple"></div><span>Apple</span>
                </div>
                <div class="platform spotify" dataid="spotify">
                    <div class="platform-icon spotify"></div><span>Spotify</span>
                </div>
                <div class="platform" dataid="soundcloud" dtload="25">
                    <div class="platform-icon soundcloud"></div><span>Soundcloud</span>
                </div>
                <div class="platform anghami" dataid="anghami">
                    <div class="platform-icon anghami"></div><span>Anghami</span>
                </div>
                <div class="platform youtube" dataid="youtube">
                    <div class="platform-icon youtube"></div><span>Youtube</span>
                </div>
                <div class="platform users" dataid="users">
                    <div class="platform-icon users"></div><span>Search for users</span>
                </div>
                <div class="platform users" dataid="artists">
                    <div class="platform-icon users"></div><span>Search for Artists</span>
                </div>
            </div>
        </div>
        <div class="input-text-search">
            <input type="text" placeholder="Search for track or insert playlist link">
            <a onclick="hideKeyboard()"></a>
        </div>
        <div class="search-container-songs">
            <div class="inset-search-songs"></div>
        </div>
    </div>
</div>
<div class="discovery page hidden">
    <div class="discovery-background">
        <span></span>
    </div>
    <div class="discovery-body">
        <div class="menu-top-discovery container">
            <div class="logo-home"></div>
            <div class="top-search-title"><span>Discovery</span></div>
            <div class="exit-discovery" onclick="closeDiscovery()"></div>
        </div>
        <div class="search-for-main">
            <div class="search-types">
                <section class="selected"><span>Tracks</span></section>
                <section dataid="users"><span>Users</span></section>
                <section dataid="artists"><span>Artists</span></section>
                <section dataid="podcasts"><span>Podcasts</span></section>
                <section dataid="soundcloud"><span>Soundcloud</span></section>
                <section dataid="youtube"><span>Youtube</span></section>
            </div>
            <div class="input-search container">
                <section><input type="text" placeholder="Search for tracks or"><a class="clear-search" onclick=""></a><a
                        class="hide-keyds" onclick="hideKeyboard()"></a></section>
                <div class="filter"></div>
            </div>
        </div>
        <div class="search-result"></div>
        <div class="discover-categories"></div>
    </div>
</div>
<div class="playlists-page page hidden">
    <div class="top-header-wave">
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="imgs-colls-bv list-perview">
                    <section>
                    </section>
                </div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p class="playlist-name-header">Playlist name </p>
                </div>
                <div class="minimize-live sw-effect" onclick="closePlaylist()"></div>
            </div>
        </div>
    </div>
    <div class="playlist-body">
        <div class="playlist-head">
            <div class="blured-backdrop-list">
                <div class="swiper main-playlists">
                    <div class="swiper-wrapper inset-playlist-posters-slider main-slider-wrapper"></div>
                    <div class="panger-vgrs indecator-playlist"></div>
                </div>
            </div>
            <div class="playlist-info-main">
                <div class="playlist-name">
                    <div class="user-list-avatar"></div><span>Song name</span>
                    <section><a class="tracks-numbers-count">22 Tracks</a><a class="saved-numbers-count">12
                            Saved</a><a class="duration-numbers-count">1hr 23m</a>
                    </section>
                    <div class="flex-buttons-playlists">
                        <div class="playlist-action save-playlist"></div>
                        <div class="playlist-action download-playlist"></div>
                        <div class="playlist-action shuffle-playlist"></div>
                        <div class="playlist-action share-playlist"></div>
                        <div class="playlist-action more-playlist"></div>
                    </div>
                </div>
                <div class="run-playlist"></div>
            </div>
        </div>
        <div class="music-section main-slider"></div>
    </div>
</div>
<div class="liberary page hidden">
    <div class="top-header-wave">
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="host-image">
                </div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p>Your library</p>
                </div>
                <div class="right-lib-wave sw-effect" onclick="showCreation()"><span></span></div>
                <div class="right-lib-wave msgs-page sw-effect" onclick="openMessages()"><span></span></div>
            </div>
        </div>
    </div>
    <div class="profile-background library-background">
        <span style="margin-top: 500px; left: 0px; opacity: 0.5;"></span>
        <span></span><span style="right: 0px; left: 0px; margin: 150px auto auto; opacity: 0.5;"></span>
    </div>
    <div class="library-body">
        <div class="generes-by-generes lib-genres">
            <div class="inset-generes-search">
                <div class="libgnre-section switcher-tap bgwf-effect selected" action="playlists">
                    <span>Playlists</span>
                </div>
                <div class="libgnre-section switcher-tap bgwf-effect" action="downloads">
                    <span>Downloads</span>
                </div>
                <div class="libgnre-section switcher-tap bgwf-effect" action="saved">
                    <span>Saved</span>
                </div>
                <div class="libgnre-section switcher-tap bgwf-effect" action="albums">
                    <span>Albums</span>
                </div>
                <div class="libgnre-section switcher-tap bgwf-effect" action="artists"><span>Artists</span>
                </div>
            </div>
        </div>
        <div class="libraries-lists-container">

        </div>
        <div class="recent-library">
            
        </div>
        <div class="features-artists-lib">
            <!-- <div class="favorites-head">
                <span>Followed artists<a>0</a></span>
            </div> -->
            <div class="artists-container">
                <div class="inset-artists"></div>
            </div>
        </div>
        <div class="libraries-container saved-tracks-container">
            <!-- <div class="favorites-head">
                <span>Saved tracks</span>
            </div> -->
            <div class="outset-playlists-container owner"></div>
        </div>
        <div class="libraries-container downloads-tracks-container">

        </div>
    </div>
</div>
<div class="playlist-create page hidden">
    <div class="top-header-wave">
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="logo-wave"></div>
                <div class="host-image"></div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p>Create playlist</p>
                </div>
                <div class="minimize-live sw-effect"
                    onclick="document.querySelector('.playlist-create').classList.remove('center')"></div>
            </div>
        </div>
    </div>
    <div class="body-create-list">
        <div class="list-creat-container">
            <div class="playlist-name-input">
                <input type="text" placeholder="Enter playlist name">
            </div>
            <div class="list-creat-btn" onclick="submitPlaylist(this)"></div>
        </div>
        <div class="add-song-plist container" onclick="addFavorites('list')">
            <span></span>
            <a>Add song</a>
        </div>
        <div class="playlist-container-create owner"></div>
    </div>
</div>

<div class="messages page hidden">
    <div class="top-header-wave">
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="logo-wave"></div>
                <div class="host-image"></div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p>Your inbox</p>
                </div>
                <div class="minimize-live sw-effect"></div>
            </div>
        </div>
    </div>
    <div class="inbox-container"></div>
</div>
<div class="switching-replyer hidden">
    <div class="back-replyer-switching"></div>
    <div class="body-replyer-switching owner">
        <div class="container body-replyer-inner">
            <div class="song-potintial-send sender-potintial"></div>
            <div class="textarea-msg">
                <textarea placeholder="Add comment or message"></textarea>
            </div>
            <div class="anonymous-on-box box checked"><a></a></div>
            <div class="buttons-negrisco">
                <div class="button-negrisco main" onclick="sendMsg(this)"><span>Send the song</span></div>
                <div class="button-negrisco"><span>Cancel</span></div>
            </div>
        </div>
        <div class="container body-replyer-options"></div>
    </div>
</div>
<div class="live-page">
    <div class="background-live-ass hidden" onclick="closeLiveSettings()"></div>
    <div class="live-perview page hidden">
        <div class="live-background-header">
            <div class="back-live-wing"></div>
            <div class="inset-background-header">
                <div class="blured-host-wing hidden"><span></span></div>
            </div>
            <!-- <div class="header-live-titles"><span>Feel the beat together</span><a>Turn into a synced live radio
                </a>
            </div> -->
            <div class="middle-viewport-live-image"><a></a></div>
            <div class="left-wing-avatar"></div>
            <div class="right-wing-avatar"></div>
        </div>
        <div class="centered-body">
            <div class="middle-desctiption-live">
                <span>Tune In, Jam as One!</span>
                <p>Discover new tracks with friends in real-time! Enjoy live radio, chat, and listen together like never before.</p>
            </div>
            <div class="flex-live-name-insert">
                <div class="live-name-insert"><input type="text" placeholder="Add for your live"></div>
                <div onclick="changeLiveName()" class="submit-lvnm-btn"><text>Change name</text></div>
            </div>
            <div class="privacy-select unlock">
                <div class="public-private-party">
                    <div class="selecting-privacy public"
                        onclick="lockLive(false);document.querySelector('.privacy-select').className = 'privacy-select unlock'">
                        <a>Public</a>
                    </div>
                    <div class="selecting-privacy private"
                        onclick="lockLive();document.querySelector('.privacy-select').className = 'privacy-select lock'">
                        <a>Private</a>
                    </div>
                </div>
                <span></span>
            </div>
            <div class="users-live-container">
                <div class="inset-shit-live"></div>
                <div class="exit-live" onclick="goExit()"></div>
            </div>
        </div>
        <div class="submit-livego">
            <a>Start live radio</a>
        </div>
    </div>
</div>
<div class="switcher-menu hidden">
    <div class="switcher-menu-back"></div>
    <div class="switcher-menu-body blured">
        <div class="container switch-select-container">
            <div class="song-potintial-send switcher-potintial"></div>
            <div class="switch-component sw-effect saving-ssc"><span></span><a>Save to library</a></div>
            <div class="switch-component sw-effect adding-list-ssc"><span></span><a>Add to playlist</a></div>
            <div class="switch-component sw-effect lyrics-share"><span></span><a>View & share lyrics</a></div>
            <div class="switch-component sw-effect sending-to-friend"><span></span><a>Send to friends</a></div>
            <div class="switch-component sw-effect live-ssc"><span></span><a>Start live radio</a></div>
            <div class="switch-component sw-effect view-album-ssc"><span></span><a>Go to album</a></div>
            <div class="switch-component sw-effect queue-add-ssc"><span></span><a>Add to queue</a></div>
            <div class="switch-component sw-effect download-ssc"><span></span><a></a></div>
            <div class="switch-component sw-effect play-more-related"><span></span><a>Play more like this</a></div>
            <div class="switch-component sw-effect share-ssc"><span></span><a>Share track link</a></div>
            <div class="switch-component sw-effect artist-profile-view"><span></span><a>View artist profile</a></div>
        </div>
    </div>
</div>
<div class="artist-page page hidden">
    <div class="artist-header">
        <div class="back-premium" onclick="this.closest('.artist-page').classList.remove('center')"></div>
        <div class="artist-back">
        </div>
        <div class="artist-infos container">
            <section>
                <div class="artist-name"><span>Artist name</span>
                </div>
                <div class="bio-artist">
                    <p>Bio for the artist</p>
                </div>
                <div class="btns-artist">
                    <div class="artist-follow" onclick="followArtist(this)"><span></span></div>
                    <div class="playlist-action shuffle-playlist"></div>
                    <div class="playlist-action share-playlist"></div>
                    <div class="more-artist"></div>
                    <div class="run-playlist"></div>

                </div>
            </section>
        </div>
    </div>
    <div class="artist-body">
        <div class="artist-categories container">
            <span>Popular</span>
        </div>
        <div class="artist-popular container"></div>
        <div class="artist-categories container">
            <span>Albums</span>
        </div>
        <div class="albums-popular">
            <div class="inset-albums-popular"></div>
        </div>
        <div class="features-artists">
            <div class="artist-categories container">
                <span>Related artists</span>
            </div>
            <div class="artists-container">
                <div class="inset-artists similar-artist-artist"></div>
            </div>
        </div>
    </div>

</div>
<div class="menu-bottom">
    <div class="inset-menu-bottom">
        <div class="button-page home-flex selected"><span></span></div>
        <div class="button-page search-flex"><span></span></div>
        <div class="button-page library-flex"><span></span></div>
        <div class="button-page live-flex"><span></span></div>
        <div class="button-page profile-flex"><span></span></div>
    </div>
</div>
<div class="page lyrics lyrics-page hidden">
    <div class="background-wave">
        <div class="wave-back-component"
            style="background-image: url(https://i.scdn.co/image/ab67616d0000b273659cd4673230913b3918e0d5);">
        </div>
        <div class="wave-back-component secound"
            style="background-image: url(https://i.scdn.co/image/ab67616d0000b273659cd4673230913b3918e0d5);">
        </div>
    </div>
    <div class="back-lyrics" onclick="backLyricsShare()"></div>
    <div class="mainly-stored-lyrics">
        <div class="lyrics-menu-top">
            <div class="song-lyrics-right">
            </div>
        </div>

        <div class="lyrics-share-title container"></div>
        <div class="lyrics-outer-selecting"></div>
    </div>
    <div class="lyrics-body-main"></div>
    <div class="generate-lyrics-btn container hidden" onclick="submitLyrics()"><span>Generate lyrics
            card</span></div>
    <div class="container-share-lyrics container hidden">
        <section onclick="shareLyricCard()"><span>Share card</span></section>
        <section onclick="resetLyricsCard()"><span>Edit card</span></section>
    </div>
</div>
<div class="mini-dialog hidden"></div>
<div class="styling-helper"></div>
<div class="styling"></div>