<div class="body-back"></div><div class="body page owner player player2 non-blur hidden">
    <div class="text-subtitles-parse"></div>
    <div class="top-header-wave">
        <div class="pulse-container hidden">
            <div class="pulse">
                <svg height="253" width="253">
                    <circle class="still" cx="125" cy="125" r="110"></circle>
                    <circle cx="125" cy="125" r="122"></circle>
                    <circle cx="125" cy="125" r="122"></circle>
                    <circle cx="125" cy="125" r="122"></circle>
                    <circle cx="125" cy="125" r="122"></circle>
                </svg>
            </div>
        </div>
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="logo-wave"></div>
                <div class="host-image"></div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p>Testing the shit</p>
                </div>
                <div class="minimize-live sw-effect" onclick="minimizePlayer()"></div>
            </div>
            <div class="live-selections">
                <div class="section-wave sw-effect settings-wave" tsx="200"><span>Lyrics</span></div>
                <div class="section-wave sw-effect player-wave" tsx="100"><span>Playlist</span></div>
                <div class="section-wave sw-effect chat-wave selected" tsx="0"><span>Chat</span></div>
            </div>
        </div>

        <div class="inner-top-wave"></div>
        <div class="left-top-wave"></div>
    </div>
    <div class="background-wave">
        <div class="backdrop-player"></div>
        <div class="wave-back-component"></div>
        <div class="wave-back-component secound"></div>
    </div>
    <div class="bottom-live-control">
        <div class="buttons-container smalled">
            <div class="rounded-buttons chat-button"></div>
            <div class="rounded-buttons settings-button"></div>
            <div class="rounded-buttons invite-button"></div>
            <div class="send-message-clap"></div>
        </div>

        <div class="bottom-chat">
            <div class="inset-live-chat"><textarea type="text" onkeydown="sendLiveMsg(event)"
                    placeholder="Type something or say hi..." wfd-id="id1"></textarea>
            </div>
            <div class="sending-zobr" onclick="sendLiveMsg();interface('vibrate')"></div>
        </div>
        <div class="song-live-artist">
            <div class="big-the-tits" onclick="showThePlayer();"></div>
            <div class="artist-inner-song">
                <div class="copyrigth-padge">
                    <div class="soundcloud-logo"></div>
                </div>
                <img onerror="this.src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/ubWFXkAAAAASUVORK5CYII='" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/ubWFXkAAAAASUVORK5CYII=">
                <div class="hidden-detailed-player">
                    <div class="sections-player sw-effect download-player">
                        <div></div>
                    </div>
                    <div class="sections-player sw-effect queue-player">
                        <div></div><text>Queue</text>
                    </div>
                    <div class="sections-player sw-effect shuffle-player">
                        <div></div>
                    </div>
                    <div class="sections-player sw-effect share-player">
                        <div></div>
                    </div>
                </div>
                <section>
                    <p>Track name</p><a>Track artist</a>
                </section>
            </div>
            <div class="right-buttons-forward">
                <div class="control-eue sw-effect mute-song"></div>
                <div class="control-eue sw-effect about-song-main"></div>
                <div class="control-eue sw-effect send-song" onclick="sendSong()"></div>
                <div class="control-eue sw-effect prev" onclick="playNext(true)"></div>
                <div class="control-eue play-pause audio-control"></div>
                <div class="control-eue sw-effect next" onclick="playNext()"></div>
                <div class="control-eue sw-effect about-song"></div>
            </div>
        </div>
        <div class="media-playback-live">
            <span class="count-current">00:00</span>
            <video playsinline class="hidden" id="audioPlayer"></video>
            <input type="range" value="0" class="audio-status-bar" id="audioStatusBar" min="0" max="10000" step="1"
                wfd-id="id0">
                <div class="status-wrapper"><a></a></div>
            <span class="count-allvals">00:00</span>
        </div>
    </div>
    <div class="scroller-container">
        <div class="inset-scroller-container">
            <div class="queue-container lyrics-container">
                <div class="lyrics-handler"></div>
                <div class="outset-lyrics-container">
                    <div class="inset-lyrics-container swiper">
                        <section class="swiper-wrapper"></section>
                    </div>
                </div>
            </div>
            <div class="queue-container queue-handler">
                <div class="top-queue-container">
                    <div class="back-queue-player minimize-live sw-effect"
                        onclick="closeQueue()"></div>
                </div>
                <div class="search-edit-list">
                    <section>
                        <div class="platform-icon spotify"></div>
                        <div class="platform-icon soundcloud"></div>
                        <div class="platform-icon deezer"></div>
                    </section>

                    <span>Edit or add tracks</span>
                </div>
                <div class="playlist-compine">
                    <div class="inset-playlist-compine">

                    </div>
                </div>
            </div>
            <div class="chat-container">
                <!-- <div class="cool-effect-by-hydra"><span></span></div> -->
                <div class="fixed-user-wave">
                    <div class="inset-vertical">
                    </div>
                    <div class="user-wave users"><a></a></div>
                </div>
                <div class="outset-chat-container">
                    <div class="inset-chat-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="kosom-eld7k">
        <div class="msg " dataid="1">
            <div class="msg-img">
            </div>
            <a class="nmvo">ONVO</a>
            <section>
                <div class="msg-core" dataid="655974897511">
                    <p>الووو</p>
                    <span>34:16</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
                <div class="msg-core" dataid="656985409203">
                    <p>قووول الحفلة</p>
                    <span>34:17</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
                <div class="msg-core" dataid="657600977669">
                    <p>كسمك يا امام يازامي</p>
                    <span>34:17</span>
                    <a class="user-dt" onclick="redRep(this)"></a>
                </div>
            </section>
        </div>
    </div>
    <div class="styling"></div>
    <div class="mini-body">
        <div class="sharing-lyrics-body">
            <div class="no-lyrics-banner">
                <span></span>
                <h3>We couldn’t find lyrics for this one, but you can request them to make it available for you.</h3>
                <div class="request-lyrics" onclick="requestLyrics()"><a>Request</a></div>
            </div>
            <div class="btns-lyrics"></div>
            <div class="btns-lyrics send-song-lyrics" onclick="lastSelected = currentSong; sendMusicToFriend()"></div>
            <div class="screenshot-btn" onclick="openLyrics(currentSong)">
                <span>Share lyrics</span>
            </div>
        </div>

        <div class="recently-played home-section lyrics-bottom-related">
            
        </div>
        <div class="home-section track-info-bottom artist-section">
            <div class="head-tag container"><span>About atist</span>
                <a></a>
            </div>
            <div class="track-info-container container">
                <div class="artist-info-player">
                    <div class="artist-info-poster"></div>
                    <section class="verified"><span>Artist</span><a>1.2K followers</a></section>
                    <div class="viwe-album-tap"><span>View album</span></div>
                </div>
            </div>
        </div>
        <div class="home-section track-info-bottom copyright-section">
            <div class="head-tag container"><span>Track copyright</span>
            </div>
            <div class="track-copyright-container container">
                <a>℗ 2021 RichMusic Inc</a>
                <p>This track is hosted from soundcloud Inc using authorized api, to view it on soundcloud <text>Tap
                        here</text></p>
            </div>
        </div>
        <div class="visualisation">
            <div class="head-tag container"><span>Video clip</span><div class="box video-check"></div></div>
            <!-- <div class="visual-back"></div> -->
            <div class="video-frame" id="video-frame">
                <video playsinline id="videoPlayer" muted></video>
            </div>
        </div>
    </div>
</div>