<div class="related-container-set hidden">
    <div class="related-back" onclick="relatedDraggable.closeMenu()"></div>
    <div class="related-queue">
        <div class="related-menu container">
            <section dataid="main" class="selected">
                <span>UP NEXT</span>
            </section>
            <section dataid="related">
                <span>RELATED</span>
            </section>
            <section dataid="album">
                <span>ALBUM</span>
            </section>
        </div>
        <div class="related-container container">

        </div>
    </div>
</div>
<div class="body page owner player minimized hidden">
    <div class="text-subtitles-parse"></div>
    <div class="minimize-live sw-effect" onclick="draggablePlayer.closeMenu()"></div>
    <div class="top-header-wave">
        <div class="real-top-wave">
            <div class="logo-set-wave">
                <div class="logo-wave"></div>
                <div class="host-image"></div>
                <div class="text-live-wave"><span>ONVO Airwave</span>
                    <p>Testing the shit</p>
                </div>
            </div>
            <div class="live-selections">
                <div class="section-wave sw-effect settings-wave" tsx="200"><span>Lyrics</span></div>
                <div class="section-wave sw-effect player-wave" tsx="100"><span>Playlist</span></div>
                <div class="section-wave sw-effect chat-wave selected" tsx="0"><span>Chat</span></div>
            </div>
        </div>
        <div class="inner-top-wave"></div>
        <div class="left-top-wave"></div>
    </div>
    <div class="background-wave">

    </div>
    <div class="scroller-container">
        <div class="inset-scroller-container">
            <div class="chat-container">
                <div class="fixed-user-wave">
                    <div class="inset-vertical">
                    </div>
                    <div class="user-wave users"><a></a></div>
                </div>
                <div class="outset-chat-container">
                    <div class="inset-chat-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-live-control">
        <div class="buttons-container smalled">
            <div class="rounded-buttons chat-button"></div>
            <div class="rounded-buttons settings-button"></div>
            <div class="rounded-buttons invite-button"></div>
            <div class="send-message-clap"></div>
        </div>

        <div class="bottom-chat">
            <div class="inset-live-chat"><textarea type="text" onkeydown="sendLiveMsg(event)"
                    placeholder="Type something or say hi..." wfd-id="id1"></textarea>
            </div>
            <div class="sending-zobr" onclick="sendLiveMsg();interface('vibrate')"></div>
        </div>
        <div class="song-live-artist">
            <div class="close-player" onclick="removePlayer()"></div>
            <div class="big-the-tits" onclick="showThePlayer();"></div>
            <div class="artist-inner-song">
                <div class="copyrigth-padge">
                    <div class="soundcloud-logo"></div>
                </div>
                <img onerror="this.src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/ubWFXkAAAAASUVORK5CYII='"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAgAB/ubWFXkAAAAASUVORK5CYII=">
                <div class="hidden-detailed-player">
                    <div class="sections-player sw-effect download-player">
                        <div></div>
                    </div>
                    <div class="sections-player sw-effect queue-player">
                        <div></div><text>Queue</text>
                    </div>
                    <div class="sections-player sw-effect shuffle-player">
                        <div></div>
                    </div>
                    <div class="sections-player sw-effect share-player">
                        <div></div>
                    </div>
                </div>
                <section>
                    <p>Track name</p><a>Track artist</a>
                </section>
            </div>
            <div class="right-buttons-forward">
                <div class="control-eue sw-effect mute-song"></div>
                <div class="control-eue sw-effect about-song-main"></div>
                <div class="control-eue sw-effect send-song" onclick="sendSong()"></div>
                <div class="control-eue sw-effect prev" onclick="playNext(true)"></div>
                <div class="control-eue play-pause audio-control"></div>
                <div class="control-eue sw-effect next" onclick="playNext()"></div>
                <div class="control-eue sw-effect about-song"></div>
            </div>
        </div>
        <div class="media-playback-live">
            <span class="count-current">00:00</span>
            <video playsinline class="hidden" id="audioPlayer"></video>
            <input type="range" value="0" class="audio-status-bar" id="audioStatusBar" min="0" max="10000" step="1"
                wfd-id="id0">
            <div class="status-wrapper"><a></a></div>
            <span class="count-allvals">00:00</span>
        </div>
    </div>
    <div class="lyrics-wrapper">
        <div class="inner-lyrics-wrapper">
            <div class="lyrics-wrapper-top">
                <span>Lyrics perview</span>
            </div>
            <div class="lyrics-wrapper-main">

            </div>
            <div class="show-lyrics-section">
                <section onclick="showLyrics()">
                    <span>Show lyrics</span>
                </section>
            </div>
        </div>
    </div>
    <div class="lyrics-close" onclick="closeLyrics()"></div>
    <div class="visualisation">
        <div class="head-tag container"><span>Youtube clip (Source)</span>
            <div class="box video-check"></div>
        </div>
        <div class="video-frame" id="video-frame">
            <video playsinline id="videoPlayer" muted></video>
        </div>
    </div>
</div>