<div class="login-page page center">
    <div class="menu-top-outlog">
        <div class="logo-top-outlog"></div>
        <div class="terms-privacy">
            <span onclick="policy()">Terms</span>
            <span onclick="policy()">Privacy</span>
        </div>
    </div>
    <div class="background-music-pattern">
        <video id="perview" muted loop playsinline poster="none"
            src="https://videos.pexels.com/video-files/3196427/3196427-uhd_2560_1440_25fps.mp4"></video>
    </div>
    <div class="middle-slider-logout">
        <div class="indecators-home"></div>
        <div class="swiper swiper-home-outlog">
            <div class="swiper-wrapper">
                <div class="swiper-slide music-home-slide">
                    <div class="text-slide"><a>DISCOVER, CREATE, OWN YOUR MUSIC WORLD</a><span>Uncover new tracks, share
                            your vibes, explore endlessly</span></div>
                </div>
                <div class="swiper-slide music-home-slide">
                    <div class="text-slide"><a>ALL YOUR MUSIC, ALL IN ONE PLACE</a><span>Collect All your Playlists in one Stylish Profile</span></div>
                </div>
                <div class="swiper-slide music-home-slide">
                    <div class="text-slide"><a>TUNE IN WITH FRIENDS, LIVE AND TOGETHER</a><span>Sync, share, and vibe to
                            live radio with Chat anywhere</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-login-btns container">
        <div class="login-by google"><span>Continue with
                google</span></div>
        <div class="login-by apple"><span>Continue with apple</span></div>
        <div class="continue-onvo">
            <a>Or Login with</a>
            <span></span>
        </div>
    </div>
</div>

<script src="/js/login.js?asss"></script>
