<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/global.css?asd">
    <link rel="stylesheet" href="/css/lyrics.css?asd">
</head>
<div class="page lyrics lyrics-page">
    <div class="background-wave">
        <div class="wave-back-component" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273659cd4673230913b3918e0d5);"></div>
        <div class="wave-back-component secound" style="background-image: url(https://i.scdn.co/image/ab67616d0000b273659cd4673230913b3918e0d5);"></div>
    </div>
    <div class="lyrics-container">
        <div class="inset-lines-lyrics">
            <a>Thats That Me Espresso</a><a>Move It Up Down Left Right Oh</a>
            <a>Switch It Up Like Nintendo</a>
        </div>
        <div class="lyrics-artist-song">
            <div class="lyrics-poster"></div>
            <div class="zobro-lyrics"><span>Espresso</span><a>Sabrina carbenter</a></div>
            <div class="logo-home"></div>
        </div>
    </div>
</div>