<div class="musics">
    <div class="logo-set-wave">
            <div class="logo-wave"></div>
            <div class="host-image"></div>
            <div class="text-live-wave"><span>ONVO Airwave</span>
                <p>Testing the shit</p>
            </div>
            <div class="minimize-live sw-effect"></div>
        </div><div class="beackground-zena">
        <span style="bottom: 0;margin-right: auto;margin-left: auto;/* top: 0; */right: 0;left: 0;"></span>
    <span style="
margin-left: 0;
opacity: 0.4;
"></span></div>
    <div class="song-container"><div class="image-poster"></div>
<div class="bottom-musicbar">

</div></div>
<div class="song-description">
<span>The Greatest (feat. Kendrick Lamar)</span>
<a>Sia, kendrick lamar</a>
</div>
<div class="song-seekbar media-playback-live timing-down"><span class="count-current">00:00</span><input type="range" value="0" class="audio-status-bar" id="audioStatusBar" min="0" max="10000" step="1" style="background: linear-gradient(to right, rgb(255, 255, 255) 23.4458%, rgba(255, 255, 255, 0.1) 23.4458%);" wfd-id="id0"><span class="count-allvals">00:00</span></div><div class="song-controler">
<div class="controler-button shuffle-main"></div>
<div class="controler-button prev-main"></div>
<div class="controler-button play-pause-main"></div>
<div class="controler-button next-main"></div>
<div class="controler-button like-main"></div>
</div>
<div class="lyrics-box"><div class="inset-lyrics">
<text>Put you right back on your feet</text>
<text>Just so you can take advantage of me</text><text>Feeling so high but too far away to hold me</text></div></div>
</div>