<div class="subscriptions-section">
    <div class="subscriptions page hidden">
        <div class="back-premium" onclick="this.closest('.subscriptions').classList.remove('center')"></div>
        <div class="container-vvs">
            <div class="premium-back">
                <div class="video-back-main">
                    <video poster="none" id="premiumrail" playsinline="" muted="" loop=""></video>
                </div>
                <div class="main-first-premim"><span></span></div>
            </div>
            <div class="premium-body">
                <div class="premium-head container">
                    <div class="premimu-tag">
                        <span>Premium</span>
                        <p>Premium unlocks endless possibilities</p>
                        <a>For more informations, tap right arrow below</a>
                    </div>
                </div>
                <div class="premium-explain container">
                    <div class="header-pexplain"><span>Why join Premium?</span>
                        <a onclick="this.closest('.premium-explain').classList.toggle('detailed')"></a>
                    </div>
                    <div class="body-pexplain">
                        <section>
                            <span
                                style="-webkit-mask-image: url(/assets/png-icons/speaker%20megaphone-59-1662452248.png);"></span>
                            <a>Ad-Free Music Experience</a>
                            <p>Listen to music without any interruptions or ads.</p>
                        </section>
                        <section>
                            <span style="-webkit-mask-image: url(/assets/png-icons/hotspot-37-1658436340.png);"></span>
                            <a>Live Radio with Friends</a>
                            <p>Create live radio sessions with friends and chat in real-time.</p>
                        </section>
                        <section>
                            <span style="
    -webkit-mask-image: url(/assets/png-icons/cloud%20download-60-1658236831.png);
"></span>
                            <a>Offline Music Downloads</a>
                            <p>Download music for offline listening anytime, anywhere.</p>
                        </section>
                        <section>
                            <span style="
    -webkit-mask-image: url(/assets/png-icons/headphone-22-1663753435.png);
"></span>
                            <a>High-Quality Audio</a>
                            <p>Enjoy music with enhanced sound quality and clean audio.</p>
                        </section>
                        <section>
                            <span style="
    -webkit-mask-image: url(/assets/png-icons/playlist-54-1663753435.png);
"></span>
                            <a>Import Playlists from Any Platform</a>
                            <p>Easily import playlists from YouTube, Spotify, SoundCloud, and Anghami.</p>
                        </section>
                        <section>
                            <span style="
    -webkit-mask-image: url(/assets/png-icons/switch%20list-119-1692683696.png);
"></span>
                            <a>Manage Your Queue</a>
                            <p>Organize and control your music queue effortlessly.</p>
                        </section>
                    </div>

                </div>
                <div class="plans-container container">
                    <div class="plans-head"><span>Available plans</span></div>
                    <div class="plan-container mini-plus">
                        <div class="premimu-tag">
                            <span>Premium</span>
                        </div>
                        <div class="premium-card-body">
                            <div class="ptag-card"><span>Mini</span></div>
                            <div class="pricing-plan"><span>EGP 9.99 for 1 week</span></div>
                            <section>
                                <span>1 Premium account</span>
                                <span>No refund</span>
                                <span>One-time payment only</span>
                            </section>
                            <div class="subscipe-button" type="mini" price="9.99">
                                <span>Get primuem Mini</span>
                            </div>
                            <div class="terms-apply"><span>Terms apply</span></div>
                        </div>
                    </div>
                    <div class="plan-container individual-plus">
                        <div class="premimu-tag">
                            <span>Premium</span>
                        </div>
                        <div class="premium-card-body">
                            <div class="ptag-card"><span>Individual</span></div>
                            <div class="pricing-plan"><span>EGP 29.99 for 1 month</span></div>
                            <section>
                                <span>1 Premium account</span>
                                <span>Cancel anytime</span>
                                <span>Subscibe or one-time payment</span>
                            </section>
                            <div class="subscipe-button" type="individual" price="29.99">
                                <span>Get primuem Individual</span>
                            </div>
                            <div class="terms-apply"><span>Terms apply</span></div>
                        </div>
                    </div>
                    <div class="plan-container">
                        <div class="premimu-tag">
                            <span>Premium</span>
                        </div>
                        <div class="premium-card-body">
                            <div class="ptag-card"><span>Duo</span></div>
                            <div class="pricing-plan"><span>EGP 44.99 for 1 month</span></div>
                            <section>
                                <span>2 Premium accounts</span>
                                <span>Cancel anytime</span>
                                <span>Subscibe or one-time payment</span>
                            </section>
                            <div class="subscipe-button" type="duo" price="44.99">
                                <span>Get primuem Duo</span>
                            </div>
                            <div class="terms-apply"><span>Terms apply</span></div>
                        </div>
                    </div>
                    <div class="plan-container">
                        <div class="premimu-tag">
                            <span>Premium</span>
                        </div>
                        <div class="premium-card-body">
                            <div class="ptag-card"><span>Family</span></div>
                            <div class="pricing-plan"><span>EGP 69.99 for 1 month</span></div>
                            <section>
                                <span>6 Premium account</span>
                                <span>5 Coupon generate</span>
                                <span>Cancel anytime</span><span>Subscibe or one-time payment</span>
                            </section>
                            <div class="subscipe-button" type="family" price="69.99">
                                <span>Get primuem Family</span>
                            </div>
                            <div class="terms-apply"><span>Terms apply</span></div>
                        </div>
                    </div>
                </div>
                <div class="premium-productions container">
                    <div class="we-accept-header"><span>We accept</span></div>
                    <div class="flex-payment-icons"><span
                            style="background-image: url(/assets/png-icons/visa-logo-800x450.jpg);background-size: cover;"></span><span
                            style="background-image: url(/assets/png-icons/1616622953822.png);"></span>
                        <span style="background-image: url(/asset/png-icons/mezza.png);"></span><span
                            style="background-image: url(/asset/png-icons/com.egyptianbanks.instapay.icon_.2022-12-14-21-37-26.png);background-size: cover;"></span><span
                            style="background-image: url(/asset/png-icons/1024px-Apple_Pay_logo.svg.png);background-size: 30px;"></span><span
                            style="background-image: url(/asset/png-icons/1024px-Google_Pay_Logo.svg.png);background-size: 30px;"></span><span
                            style="background-image: url(/asset/png-icons/Vodafone-Symbol.png);background-size: 25px;"></span>
                    </div>
                    <div class="warranty-plus">
                        <span></span>

                        <p>
                            All our plans include a warranty covering any technical issues. You will be
                            compensated
                            for any damages that occur during the subscription period.</p>
                    </div>
                </div>
                <div class="invited-section">
                    <div class="glow-effect"></div>
                    <div class="title-promo-invite"><span>Invited by a friend ?</span></div>
                    <div class="promo-code container">
                        <div class="inner-promo-code"><input type="text" placeholder="Enter coboun code">
                        </div>
                        <button class="see-plans promocode disabled" price="79" type="premium">Apply</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="switcher-plus-container hidden">
        <div class="switcher-plus-back"></div>
        <div class="switcher-plus-body">
            <div class="product-perview container">
                <div class="left-handed-product">
                    <span>Airwave Premium</span>
                    <a>1 month</a>
                </div>
                <div class="right-handed-product">
                    <span>29.99 EGP</span>
                    <a></a>
                </div>
            </div>
            <div class="paymen-methods container">
                <div class="payment-method" method="apple">
                    <div class="selector"></div>
                    <div class="pay-posters">
                        <div class="flex-payment-icons">
                            <span
                                style="-webkit-mask-image: url(/asset/png-icons/976px-Apple_logo_black.svg.png);-webkit-mask-size: contain;-webkit-mask-position: center;-webkit-mask-repeat: no-repeat;"></span>
                        </div>
                    </div>
                    <section>
                        <span>Pay with apple</span>
                        <a>Use your apple account to pay</a>
                    </section>
                </div>
                <div class="payment-method" method="card">
                    <div class="selector"></div>

                    <div class="pay-posters">
                        <div class="flex-payment-icons"><span
                                style="background-image: url(/asset/png-icons/visa-logo-800x450.jpg);background-size: cover;"></span><span
                                style="background-image: url(/asset/png-icons/1616622953822.png);"></span>
                            <span style="background-image: url(/asset/png-icons/mezza.png);"></span>
                        </div>
                    </div>

                    <section>
                        <span>Pay with Credit card</span>
                        <a>Mezza, Master card, visa</a>
                    </section>
                </div>
                <div class="payment-method" method="wallet">
                    <div class="selector"></div>

                    <div class="pay-posters">
                        <div class="flex-payment-icons">
                            <span
                                style="background-image: url(/asset/png-icons/etisalat-cash-logo.png);background-size: 22px;"></span>
                            <span
                                style="background-image: url(/asset/png-icons/Vodafone-Symbol.png);background-size: 22px;"></span>
                        </div>
                    </div>

                    <section>
                        <span>Pay with Mobile wallet</span>
                        <a>Vodafone,Etisalat,We cash</a>
                    </section>
                </div>
            </div>
            <div class="waiting-description container">
                <section>
                    <span></span>
                    <p>We are waiting for you to complete the payment. Once it's done, This page will be
                        updated.</p>
                </section>
            </div>
            <div class="subscriptions-btns container">
                <div class="plus-subs-btn main" onclick="pay(this)"><span>Subscripe &amp; pay 29.99
                        EGP</span></div>
                <div class="plus-subs-btn" onclick="backPlus()">Cancel</div>
            </div>
        </div>
    </div>
</div>
